version: '3'

services:
  postgres:
    image: postgres:13
    env_file:
      - config/common.env
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    user: postgres
    restart: always

  redis:
    image: redis:latest
    env_file:
      - config/common.env
    ports:
      - 6379:6379
    restart: always

  init:
    image: sist/airflow:2.1.0
    env_file:
      - config/common.env
    depends_on:
      - postgres
      - redis
    environment:
      - _AIRFLOW_DB_INIT=true
      - _AIRFLOW_USER_CREATE=true
    volumes:
      - ./airflow:/airflow
    user: "200"
    command: version


  webserver:
    image: sist/airflow:2.1.0
    env_file:
      - config/common.env
    depends_on:
      - init
    volumes:
      - ./airflow:/airflow
    ports:
      - 8080:8080
    command: webserver
    user: "200"
    restart: always


  scheduler:
    image: sist/airflow:2.1.0
    env_file:
      - config/common.env
    depends_on:
      - init
    volumes:
      - ./airflow:/airflow
    command: scheduler
    user: "200"
    restart: always


  worker:
    image: sist/airflow:2.1.0
    env_file:
      - config/common.env
    environment:
      - QUEUE_NAME=queue_1
    depends_on:
      - webserver
    volumes:
      - ./airflow:/airflow
    ports:
      - 8081:8080
    command: celery worker
    user: "200"
    restart: always


  flower:
    image: sist/airflow:2.1.0
    env_file:
      - config/common.env
    depends_on:
      - webserver
    volumes:
      - ./airflow:/airflow
    ports:
      - 5555:5555
    command: celery flower
    user: "200"
    restart: always

